body{
    background-color: #0f0f0f;
}
#title{
    font-family: fantasy;
    font-size:40px;
    color:white;
    letter-spacing: 13px;
}
#G{
    color:gold;
    transition: transform 1s ease 1s;
    display:inline-block;
}
#G:hover{
    transform: rotate(360deg);
}
#container{
    border:1px solid red;
    width: fit-content;
    padding-left:4%;
    padding-right:4%;
    padding-top:7%;
    background-color: rgba(214, 255, 255, 0.966);
    position: relative;
}
#img{
    width:40px;
    height:80px;
    position: relative;
    padding-left:0.3%;
    bottom:-15px;
}
#char{
    font-size:30px;
    font-family: monospace;
    font-weight: bold;
    position: relative;
    top:-100px;
    margin-bottom:10%;
}
#name{
    padding:3%;
    width:300px;
    border-radius: 6px;
    position: relative;
    top:-80px;
}
#id1img{
    width:100px;
    height:100px;
}
.avatar{
    display: flex;
    flex-direction: row;
}
.avatar > img {
    margin-right: 10%;
    position: relative;
    top:-50px;
}
.avatar img.border {
    border: 2px solid red;
}
#img1{
    width:120px;
    height:120px;
    padding:3%;
}
#img1:hover{
    cursor: pointer;
    scale:1.1;
}
#img2{
    width:120px;
    height:120px;
    padding:3%;
}
#img2:hover{
    cursor: pointer;
    scale:1.1;
}
#cre{
    font-size:20px;
    font-family: monospace;
    font-weight: bold;
    position: relative;
    top:-50px;
    text-align: left;
    margin-left: 3%;
}
#continue{
    padding-left: 5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    border-radius: 8px;
    font-size:14px;
    position: relative;
    top:-20px;
    cursor: pointer;
    left:-15px;
}
#continue:hover{
    scale:1.1;
}