body{
    background-color: #0f0f0f;
}
#title{
    font-family: fantasy;
    font-size:40px;
    color:white;
    letter-spacing: 13px;
}
#G{
    color:gold;
    transition: transform 1s ease 1s;
    display:inline-block;
}
#G:hover{
    transform: rotate(360deg);
}


#container{
    border:1px solid red;
    width: fit-content;
    padding-left: 5%;
    padding-right:5%;
    padding-top:3%;
    background-color: rgba(214, 255, 255, 0.966);
    position: relative;
}
#img{
    width:40px;
    height:80px;
    position: relative;
    padding-left:0.3%;
    bottom:-15px;
}

#golden{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    color:rgb(236, 96, 96);
    position: relative;
    top:-17px;
    margin-bottom: 10%;
    text-shadow: 1px 1px 1px whitesmoke;
    animation-name: animate;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}
#boy{
    height: 200px;
    width: 300px;
    position:relative;
    top:-19px;
}
#golden2{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    color:rgb(236, 96, 96);
    position: relative;
    top:-21px;
    text-shadow: 1px 1px 1px whitesmoke;
    animation-name: animate;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}

@keyframes animate{
    0%{color:rgb(236, 96, 96);}
    50%{color:black;}
    100%{color:rgb(236, 96, 96);}
}
#exit{
    padding-left: 5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    border-radius: 8px;
    font-size:14px;
    position: relative;
    top:-20px;
    cursor: pointer;
    margin-right: 30%;
}
#play{
    padding-left: 5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
    border-radius: 8px;
    font-size:14px;
    position: relative;
    top:-20px;
    cursor: pointer;
}
#play:hover,#exit:hover{
    scale: 1.1;
}
#para{
    font-size: 30px;
    color:red;
}